<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
  <context-param>
  	<param-name>maxSize</param-name>
  	<param-value>2097152</param-value> <!-- 2MB --> 
  </context-param>
  
  <context-param>
  	<!-- Useful in development mode to slow down the uploads in fast networks.
  		 Put the number of miliseconds to sleep in each block received in the served. --> 
  	<param-name>slowUploads</param-name>
  	<param-value>200</param-value>
  </context-param>
  
  <!-- Servlets -->
   <servlet>
  	<servlet-name>userService</servlet-name>
  	<servlet-class>net.thesocialos.server.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>userService</servlet-name>
  	<url-pattern>/thesocialos/userService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>chatService</servlet-name>
  	<servlet-class>net.thesocialos.server.ChatServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>chatService</servlet-name>
  	<url-pattern>/thesocialos/chatService</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>oauth2callback</servlet-name>
  	<servlet-class>net.thesocialos.server.Oauth2Callback</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>oauth2callback</servlet-name>
  	<url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>oauth2callbackFB</servlet-name>
  	<servlet-class>net.thesocialos.server.Oauth2CallbackFB</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>oauth2callbackFB</servlet-name>
  	<url-pattern>/oauth2callbackFB</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>oauth2response</servlet-name>
  	<servlet-class>net.thesocialos.server.Oauth2Response</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>oauth2response</servlet-name>
  	<url-pattern>/oauth2response</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ContactsRPC</servlet-name>
  	<servlet-class>net.thesocialos.server.Contactsimpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ContactsRPC</servlet-name>
  	<url-pattern>/thesocialos/ContactsRPC</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>oauthLogin</servlet-name>
  	<servlet-class>net.thesocialos.server.OauthLogin</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>oauthLogin</servlet-name>
  	<url-pattern>/oauthlogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>twittercallback</servlet-name>
  	<servlet-class>net.thesocialos.server.OauthCallback</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>twittercallback</servlet-name>
  	<url-pattern>/twittercallback</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>flickrcallback</servlet-name>
  	<servlet-class>net.thesocialos.server.OauthCallback</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>flickrcallback</servlet-name>
  	<url-pattern>/flickrcallback</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>uploadServlet</servlet-name>
  	<!-- This is the default servlet, it puts files in session -->
  	<servlet-class>gwtupload.server.UploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>uploadServlet</servlet-name>
  	<url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>xsrf</servlet-name>
  	<servlet-class>com.google.gwt.user.server.rpc.XsrfTokenServiceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>xsrf</servlet-name>
  	<url-pattern>/thesocialos/xsrf</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>gwt.xsrf.session_cookie_name</param-name>
  	<param-value>XSRF</param-value>
  </context-param>
  
 <!--  Register Objectify Database -->
 <servlet>
 	<servlet-name>LoadOnStart</servlet-name>
	<servlet-class>net.thesocialos.server.LoadOnStart</servlet-class>
	<load-on-startup>1</load-on-startup>
 </servlet>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TheSocialOS.html</welcome-file>
  </welcome-file-list>
  
</web-app>