/** Add css rules here for your application. */
.invisiblePanel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.hand {
	cursor: pointer; 
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.title {
	text-outline: 2px 2px black;
	color: White;
	margin: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 5em;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	text-align: center;
}

.vPadding {
	padding-top: 6px;
	padding-bottom: 6px;
}

.login {
	background: cornflowerblue; /* Old browsers */
	background: -moz-linear-gradient(top, white, cornflowerblue); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,cornflowerblue)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, white, cornflowerblue); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white, cornflowerblue); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, white, cornflowerblue); /* IE10+ */
	background: linear-gradient(top, white, cornflowerblue); /* W3C */
}

.incorrect {
	color: Red;
}

.video-controls {
	background-color: #000000;
	opacity: 0.3;
}

desktopbar {
	border: 1px solid;
	background-color: lightgray;
}

.center {
	vertical-align: middle;
	text-align: center;
}

.WindowPanel {
	background-color: #FFFFFF;
}

.WindowPanel .WindowHeader {
	background-color: #666666;
	color: #FFFFFF;
	overflow: hidden;
}

.WindowPanel .WindowPanel-iframe {
	border: none;
	display: block;
}

.dragdrop-boundary {
	background-color: #F8F8F8;
	border: 1px solid black;
}

.ResizeEdge {
	/** background-image: url("/thesocialos/gwt/cleano/images/dragger-4x4.gif"); 
	background-repeat: repeat;
	line-height: 1px;**/
	border: 1px solid black;
	font-size: 1px;
}

.resize-nw .dragdrop-handle {
	cursor: nw-resize;
}

.resize-n .dragdrop-handle {
	cursor: n-resize;
}

.resize-ne .dragdrop-handle {
	cursor: ne-resize;
}

.resize-w .dragdrop-handle {
	cursor: w-resize;
}

.resize-e .dragdrop-handle {
	cursor: e-resize;
}

.resize-sw .dragdrop-handle {
	cursor: sw-resize;
}

.resize-s .dragdrop-handle {
	cursor: s-resize;
}

.resize-se .dragdrop-handle {
	cursor: se-resize;
}

.startbutton {
	cursor: pointer;
	position: relative;
	z-index: 1000;
}

.startbutton:hover {
	background-color: IndianRed;
}

.startbutton-focused {
	cursor: pointer;
	outline: 0;
	position: relative;
	background-color: #050505;
	border-left: 1px solid ghostwhite;
	border-right: 1px solid ghostwhite;
	box-shadow: 0 -3px 5px LightCoral;
	z-index: 1000;
}

.userbar {
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	z-index: 1000;
}

.userbar:hover {
	background-color: IndianRed;
}

.userbar-focused {
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	z-index: 1000;
	outline: 0;
	background-color: #050505;
	border-left: 1px solid ghostwhite;
	border-right: 1px solid ghostwhite;
	box-shadow: 0 -3px 5px LightCoral;
}

.userProfile {
	width: 60%;
	height: 80%;
}

.popupContent {
	height: 100%;
}

.windowButtons {
	text-align: right;
}

.window-menu-close-off {
	border: solid 1px #000000;
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(255
		, 255, 255, 1) ), color-stop(90%, rgba(193, 193, 193, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* IE10+ */
	background: linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#c1c1c1', GradientType=0 ); /* IE6-9 */
}

.window-menu {
	border: 0px solid #000000;
	text-align: right;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 46px;
	-moz-border-radius-bottomright: 22px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 46px;
	-webkit-border-bottom-right-radius: 22px;
}

.window-menu-btn-left {
	border-bottom-left-radius: 10px;
	border: 1px #ccc;
	background: #c6c6c6; /* Old browsers */
	background: -moz-linear-gradient(top, #c6c6c6 0%, #73c7d1 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6c6c6),
		color-stop(100%, #73c7d1) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c6c6c6 0%, #73c7d1 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c6c6c6 0%, #73c7d1 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c6c6c6 0%, #73c7d1 100%);
	/* IE10+ */
	background: linear-gradient(top, #c6c6c6 0%, #73c7d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#c6c6c6',
		endColorstr='#73c7d1', GradientType=0 ); /* IE6-9 */
}

.window-menu-max-off {
	cursor: pointer;
	border: solid 1px #000000;
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(255
		, 255, 255, 1) ), color-stop(90%, rgba(193, 193, 193, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* IE10+ */
	background: linear-gradient(top, rgba(255, 255, 255, 1) 26%,
		rgba(193, 193, 193, 1) 90% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#c1c1c1', GradientType=0 ); /* IE6-9 */
}

.window-menu-btn-left:hover {
	border-bottom-left-radius: 10px;
	border: 1px #ccc;
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #59c7d6 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d),
		color-stop(100%, #59c7d6) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%, #59c7d6 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%, #59c7d6 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%, #59c7d6 100%);
	/* IE10+ */
	background: linear-gradient(top, #7d7e7d 0%, #59c7d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#7d7e7d',
		endColorstr='#59c7d6', GradientType=0 ); /* IE6-9 */
}

.window-menu-btn {
	border: 1px #ccc;
	background: #c6c6c6; /* Old browsers */
	background: -moz-linear-gradient(top, #c6c6c6 0%, #73c7d1 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6c6c6),
		color-stop(100%, #73c7d1) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c6c6c6 0%, #73c7d1 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c6c6c6 0%, #73c7d1 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c6c6c6 0%, #73c7d1 100%);
	/* IE10+ */
	background: linear-gradient(top, #c6c6c6 0%, #73c7d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#c6c6c6',
		endColorstr='#73c7d1', GradientType=0 ); /* IE6-9 */
}

.window-menu-btn:hover {
	border: 1px #ccc;
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #59c7d6 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d),
		color-stop(100%, #59c7d6) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%, #59c7d6 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%, #59c7d6 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%, #59c7d6 100%);
	/* IE10+ */
	background: linear-gradient(top, #7d7e7d 0%, #59c7d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#7d7e7d',
		endColorstr='#59c7d6', GradientType=0 ); /* IE6-9 */
}

.sos-Window {
	
}

.sos-Window .Caption {
	background: #F1F1F1;
	padding: 1px 1px 1px 1px;
	cursor: default;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #F1F1F1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.sos-Window .dialogContent {
	
}

.sos-Window .dialogMiddleCenter {
	padding: 3px;
	background: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.sos-Window .dialogBottomCenter {
	background: url(/thesocialos/gwt/cleano/images/hborder.png) repeat-x
		0px -2945px;
	-background: url(/thesocialos/gwt/cleano/images/hborder_ie6.png)
		repeat-x 0px -2144px;
}

.sos-Window .dialogMiddleLeft {
	background: url(/thesocialos/gwt/cleano/images/vborder.png) repeat-y
		-31px 0px;
}

.sos-Window .dialogMiddleRight {
	background: url(/thesocialos/gwt/cleano/images/vborder.png) repeat-y
		-32px 0px;
	-background: url(/thesocialos/gwt/cleano/images/vborder_ie6.png)
		repeat-y -32px 0px;
}

.sos-Window .dialogTopLeftInner {
	width: 10px;
	height: 8px;
	zoom: 1;
}

.sos-Window .dialogTopRightInner {
	width: 12px;
	zoom: 1;
}

.sos-Window .dialogBottomLeftInner {
	width: 10px;
	height: 12px;
	zoom: 1;
}

.sos-Window .dialogBottomRightInner {
	width: 12px;
	height: 12px;
	zoom: 1;
}

.sos-window .dialogTopCenter {
	border-radius: 4px;
	background: black;
}

.sos-Window .dialogTopLeft {
	background: url(/thesocialos/gwt/cleano/images/circles.png) no-repeat
		-20px 0px;
	-background: url(/thesocialos/gwt/cleano/images/circles_ie6.png)
		no-repeat -20px 0px;
}

.sos-Window .dialogTopRight {
	background: url(/thesocialos/gwt/cleano/images/circles.png) no-repeat
		-28px 0px;
	-background: url(/thesocialos/gwt/cleano/images/circles_ie6.png)
		no-repeat -28px 0px;
}

.sos-Window .dialogBottomLeft {
	background: url(/thesocialos/gwt/cleano/images/circles.png) no-repeat
		0px -36px;
	-background: url(/thesocialos/gwt/cleano/images/circles_ie6.png)
		no-repeat 0px -36px;
}

.sos-Window .dialogBottomRight {
	background: url(/thesocialos/gwt/cleano/images/circles.png) no-repeat
		-8px -36px;
	-background: url(/thesocialos/gwt/cleano/images/circles_ie6.png)
		no-repeat -8px -36px;
}