@CHARSET "UTF-8";
.profile {
	background: rgb(125,126,125); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(99%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 99%); /* IE10+ */
		background: linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
		border: 1px:
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
	/*background: linear-gradient(top, rgb(254,255,232) 0%,rgb(214,219,191) 100%); /* W3C */

	/* background-image: -webkit-gradient(
    	linear,
    	right bottom,
    	left top,
    	color-stop(0, rgb(255,255,255)),
    	color-stop(0.25, rgb(219,219,219)),
    	color-stop(0.63, rgb(207,207,207))
	);
	background-image: -moz-linear-gradient(
	    right bottom,
    	rgb(255,255,255) 0%,
	    rgb(219,219,219) 25%,
	    rgb(207,207,207) 63%
	);*/
}